@model BuscadorInmueble.Models.Usuario
@{
    Layout = "~/Views/Compartir/Plantilla.cshtml";
}


<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

<div class="testbox">
    <h1><b>Formulario de Registro</b></h1>

    <form action="~/usuario/ProcesarUsuario" method="post">

        <div class="fila">
            <label>Nombre</label>
            @Html.TextBoxFor(u => u.nombre)
            <label>Apellido Paterno</label>
            @Html.TextBoxFor(u => u.apePat)
            <label>Apellido Materno</label>
            @Html.TextBoxFor(u => u.apeMat)
            <label>E-mail</label>
            @Html.TextBoxFor(u => u.email)
            <label>Telefono</label>
            @Html.TextBoxFor(u => u.Telefono)
            <label>Celular</label>
            @Html.TextBoxFor(u => u.celular)
            <label>Usuario</label>
            @Html.TextBoxFor(u => u.usuario1)
            <label>Contraseña</label>
            @Html.TextBoxFor(u => u.clave)
        </div>

        <button style="height:40px; width:120px;cursor:pointer;">Registrar</button>
    </form>
</div>

<style type="text/css">
    fieldset, img {
        border: 0
    }

    ol, ul, li {
        list-style: none
    }

    :focus {
        outline: none
    }


    p {
        font-size: 12px;
        width: 150px;
        display: inline-block;
        margin-left: 18px;
    }

    h1 {
        font-size: 32px;
        font-weight: 300;
        color: #4c4c4c;
        text-align: center;
        padding-top: 10px;
        margin-bottom: 10px;
    }

    html {
        background-color: #ffffff;
    }

    .testbox {
        margin: 20px auto;
        width: 750px;
        height: 700px;
        -webkit-border-radius: 8px/7px;
        -moz-border-radius: 8px/7px;
        border-radius: 8px/7px;
        background-color: #ebebeb;
        -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
        -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
        box-shadow: 1px 2px 5px rgba(0,0,0,.31);
        border: solid 1px #cbc9c9;
    }

    input[type=radio] {
        visibility: hidden;
    }

    form {
        margin: 0 70px;
    }

    input[type=radio]:checked + label:after {
        opacity: 1;
    }


    input[type=text], input[type=password] {
        width: 200px;
        height: 39px;
        -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
        -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px;
        border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
        background-color: #fff;
        -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
        -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
        box-shadow: 1px 2px 5px rgba(0,0,0,.09);
        border: solid 1px #cbc9c9;
        margin-left: -5px;
        margin-top: 13px;
        padding-left: 10px;
    }

    input[type=password] {
        margin-bottom: 25px;
    }

    .gender {
        margin-left: 30px;
        margin-bottom: 30px;
    }



    button {
        font-size: 14px;
        font-weight: 600;
        color: white;
        padding: 6px 25px 0px 20px;
        margin: 10px 8px 20px 0px;
        float: right;
        text-decoration: none;
        width: 50px;
        height: 27px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #3a57af;
        -webkit-box-shadow: 0 3px rgba(58,87,175,.75);
        -moz-box-shadow: 0 3px rgba(58,87,175,.75);
        box-shadow: 0 3px rgba(58,87,175,.75);
        position: relative;
    }
</style> 